/* TODO: Add variables for colors */

body {
    background-color: #FF8080;
    /* background-color: #FED766; */
    width: 100%;
    height: 100%;
}

/* The div that holds happy-icecream */
.happy-icecream {
    position: absolute;
    top: 15%;
    left: 45%;
    right: 50%;
}

.scoop {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: antiquewhite;
    position: relative;
    top: 75px;
    right: 20px;
}

/* Ice cream happy face */
.brows {
    display: inline-flex;
    position: relative;
    bottom: 56px;
}

.brows .brow {
    position: relative;
    width: 0;
    height: 0;
    transform: rotate(10deg);
}

.brows .brow::after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid black;
    border-radius: 19px 19px 4px 4px;
    top: -158px;
    left: 26px;
    width: 42px;
    height: 20px;
    transform: rotate(-16deg);
}

.brows .right-brow {
    left: 52px;
}

.eyes {
    display: inline-flex;
    z-index: 8;
    position: relative;
    bottom: 140px;
    left: 46px;
}

.eyes .eye {
    width: 46px;
    height: 42px;
    background: white;
    border-radius: 50%;
    position: relative;
    right: -2px;
}

.eyes .right-eye {
    left: 5px;
}

.eyeball {
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;
    position: relative;
    right: 34px;
    top: 0px;
}

.left-eye .eyeball {
    right: -5px;
}

/* Cherry on scoop */
.cherry {
    width: 57px;
    height: 55px;
    background: red;
    border-radius: 50%;
    z-index: 5;
    position: relative;
    left: 50px;
    top: 97px;
    box-shadow: 0px 3px 1px darkred;
}

.cherry-stem {
    position: relative;
    width: 0;
    height: 0;
    transform: rotate(10deg);
}

.cherry-stem:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid black;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -14px;
    width: 42px;
    height: 20px;
    transform: rotate(53deg);
}

/* ice cream cloud */
.scoop-cloud {
    z-index: 4;
    position: relative;
    display: inline-flex;
    bottom: 20px;
}

.cloud {
    width: 50px;
    height: 50px;
    background: antiquewhite;
    border-radius: 50%;
}

/* Cone and its lines */
.cone {
    width: 0px;
    border-top: 200px solid brown;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    position: fixed;
    z-index: 1; /* display above scoop */
}

.cone .line-left {
    width: 112px;
    height: 47px;
    border-bottom: 0.2px solid #ed7d7d;
    -webkit-transform: translateY(20px) translateX(5px) rotate(-26deg);
    transform: translateY(20px) translateX(5px) rotate(-26deg);
    position: relative;
    bottom: 214px;
    right: 71px;
}

.cone .l-two {
    width: 100px;
    left: -56px;
    bottom: 219px;
}

.cone .l-three {
    width: 57px;
    left: -38px;
    bottom: 223px;
}

.cone .line-right {
    width: 112px;
    height: 47px;
    border-bottom: 0.2px solid #ed7d7d;
    -webkit-transform: translateY(20px) translateX(5px) rotate(26deg);
    transform: translateY(20px) translateX(5px) rotate(26deg);
    position: relative;
    bottom: 370px;
    right: 46px;
}

.cone .r-two {
    width: 100px;
    left: -54px;
}

.cone .r-three {
    width: 51px;
    left: -22px;
    bottom: 355px;
}

/* Top thick border of cone */
.cone-coat {
    margin: 0 auto;
    width: 193px;
    height: 38px;
    background-color: brown;
    position: relative;
    border-radius: 70%;
    top: 31px;
    right: 17px;
    z-index: 2;
    border-bottom: 1px solid #ed7d7d;
}
  
.cone-coat:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -5%;
    left: -5%;
    height: 120px;
    background: transparent;
    -webkit-clip-path: ellipse(50% 60% at 50% 100%);
    clip-path: ellipse(50% 50% at 50% 100%);
}

/* Bite with individual positions */
.bite {
    width: 50px;
    height: 50px;
    background: #FF8080;
    border-radius: 50%;
    position: relative;
}

.scoop .one {
    left: 10px;
}

.scoop .two {
    right: -4px;
    bottom: 20px;
}

.scoop .three {
    bottom: 51px;
    right: 16px;
}
